body {
  background-color: white;
}

header {
  position: fixed;
}
main {
  margin-top: 68px;
}
.account-settings {
}
.account-settings a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}
.account-settings h3 {
}
hr {
}
.membership-and-billing {
}
.description {
}
.description h3 {
  color: #727272;
  text-transform: uppercase;
  font-size: 1rem;
}
button {
}
.details div {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.email-box {
}
span {
}
.email {
  font-weight: bold;
}
.change-email {
}
a {
}
.password-box {
}
.password {
}
.change-password {
}
.phone-box .phone {
}
.change-phone {
}
.payment-method-box {
}
.payment-method {
}
.update-payment-info {
}
.payment-method-box {
}
.payment-method {
}
.update-payment-info {
}
.gift-cards {
}
.gift-cards span {
  width: 100%;
}
.plan-details {
}
.plan-type {
}
.update-payment-info {
}
