body {
  background-color: white;
}

header {
  position: fixed;
}
main {
  margin-top: 68px;
}
main > h3 {
  color: black;
  text-transform: capitalize;
  font-size: 1rem;
}
.account-settings hr {
  margin: 1rem 0;
}
.account-settings a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}
.account-settings h3 {
  color: #727272;
  text-transform: uppercase;
  font-size: 1rem;
}
hr {
}
.membership-and-billing {
}
.description {
}
button {
}
.details div {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.email-box {
}
span {
}
.email {
  font-weight: bold;
}
.change-email {
}
a {
}
.password-box {
}
.password {
  color: #666;
}
.change-password {
}
.phone-box {
}
.phone {
  color: #666;
}
.change-phone {
}
.payment-method-box {
}
.payment-method {
}
.payment-method img {
  height: 1rem;
  filter: grayscale(100%);
  margin-right: 0.5rem;
}
.update-payment-info {
}
.payment-method-box {
}
.payment-method {
  font-weight: bold;
}
.update-payment-info {
}
.gift-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.plan-details {
}
.plan-details div {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.plan-type {
}
.plan-type img {
  height: 1rem;
  margin-left: 0.25rem;
}
.update-payment-info {
}
